<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BurnCare</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-50">
    <div class="grid grid-cols-1 lg:grid-cols-3 ">
        <div class="p-2"> <!-- Back Button -->
            <div class="flex justify-start">
                <button onclick="window.history.back()"
                    class="bg-gray-50 hover:bg-gray-100 font-bold py-2 px-2 rounded-full">
                    <svg class="w-6 h-6 text-red-600 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 12h14M5 12l4-4m-4 4 4 4" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="container mx-auto px-4 py-0 lg:p-4">
            <div class="rounded-md shadow-md bg-white p-6">

                <div class="flex justify-center mb-4">
                    <div class="w-20 h-20 rounded-full bg-gray-600"></div>
                </div>
                <h2 class="text-center text-gray-800 font-medium"><span id="current-name"></span></h2>
                <p class="text-center text-gray-500 text-sm"><span id="current-username"></span></p>
                <div class="flex justify-center mt-10">
                    <button type="button" data-modal-target="edit-profile" data-modal-toggle="edit-profile"
                        class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-xl border border-gray-200 hover:bg-gray-50 hover:text-red-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Edit
                        Profil</button>
                </div>
            </div>
        </div>
        <div></div>
    </div>

    <!-- Modals -->
    <div id="edit-profile" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Edit Profil
                    </h3>
                    <button type="button"
                        class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="edit-profile">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">tutup</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5">
                    <form id=editForm class="space-y-4">
                        <div>
                            <label for="nama" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nama</label>
                            <input type="text" name="nama" id="editNama"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:bg-gray-100 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" aria-describedby="floating_helper_text"
                                placeholder="Masukkan nama baru"/>
                            <p id="floating_helper_text" class="mt-2 text-xs text-gray-500 dark:text-gray-400">Kosongkan jika tidak ingin mengubah nama.</p>
                        </div>
                        <div>
                            <label for="username"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                            <input type="text" name="username" id="editUsername" placeholder="Masukkan username baru"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:bg-gray-100 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" aria-describedby="floating_helper_text"
                                />
                                <p id="floating_helper_text" class="mt-2 text-xs text-gray-500 dark:text-gray-400">Kosongkan jika tidak ingin mengubah username.</p>
                        </div>
                        <div>
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            <input type="password" name="password" id="editPassword" placeholder="Masukkan password baru"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:bg-gray-100 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" aria-describedby="floating_helper_text"/>
                                <p id="floating_helper_text" class="mt-2 text-xs text-gray-500 dark:text-gray-400">Kosongkan jika tidak ingin mengubah password.</p>
                        </div>
                        <button type="submit"
                            class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/src/js/main.js"></script>
    <script src="/static/src/js/user.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@1.5.0/dist/flowbite.min.js"></script>
</body>
</html>